<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">Blog - My Blog</h1><br> 

<div class="col-md-12">
    <div class="row">

        <!-- Page Blog -->
        <div class="col-md-12" id="blog_page">
            <!-- start Page Blog -->
            <section id="blog-page">

                <div class="clear"></div>
                {% for post in site.posts %}
                    <article id="{{ post.title }}" class="blog-article">                    

                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-12 post_media">

                                    <div class="post-format-icon">
                                        <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 post_content">
                                    <div class="content post_format_standart">
                                        <div class="top_c ">

                                            <div class="title_content">
                                                <div class="text_content"><a href="#post-2" class="read_more">Blog Aside post</a></div>
                                                <div class="clear"></div>
                                            </div>

                                            <ul class="info">
                                                <li><i class="glyphicon glyphicon-time"></i> {{ post.date }} </li>
                                                <li><i class="glyphicon glyphicon-tag"></i> {{ post.tags }} </li>
                                            </ul>

                                            <div class="blog-content">
                                                <p><i class="fa fa-quote-left"></i> {{ post.excerpt }} </p></div>
                                        </div>
                                    </div>	

                                    <a href="{{ post.url }}" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                                </div>
                            </div>

                        </div>
                    </article>
                {% endfor %}
                <!-- Post 2 -->
                
                <!-- End Post 2 -->

                <div class="clear"></div>

            </section>

            <!-- End Page Blog -->

        </div>

    </div>
</div>
                                            </div>
                                            <!-- End .blog -->
