<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">Blog - My Blog</h1><br> 

<div class="col-md-12">
    <div class="row">

        <!-- Page Blog -->
        <div class="col-md-12" id="blog_page">
            <!-- start Page Blog -->
            <section id="blog-page">
                {% for post in site.posts %}
                    <article id="post-{{ post.id | remove: "/" }}" class="blog-article">                    

                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-12 post_media">

                                    <div class="post-format-icon">
                                        <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 post_content">
                                    <div class="content post_format_standart">
                                        <div class="top_c ">

                                            <div class="title_content">
                                                <div class="text_content"><a href="#post-{{ post.id | remove: "/" }}" class="read_more">{{ post.title }}</a></div>
                                                <div class="clear"></div>
                                            </div>

                                            <ul class="info">
                                                <li><i class="glyphicon glyphicon-time"></i> {{ post.date | date: "%B %-d, %Y" }} </li>
                                                <li><i class="glyphicon glyphicon-tag"></i> {{ post.tags }} </li>
                                            </ul>

                                            <div class="blog-content">
                                                <p><i class="fa fa-quote-left"></i> {{ post.excerpt }} </p></div>
                                        </div>
                                    </div>	

                                    <a href="#post-{{ post.id | remove: "/" }}" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                                </div>
                            </div>

                        </div>
                    </article>
                <div class="clear"></div>
                {% endfor %}
            </section>

            <!-- End Page Blog -->
            
            {% for post in site.posts %}
            <section id="post-{{ post.id | remove: "/" }}-page" class="content-post" style="display: none">
                <div class="row inner">

                    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

                        <article class="postPage">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                                </div>

                            </div>

                            <div class="title_content">
                                <div class="text_content">{{ post.title }}</div>
                                <div class="clear"></div>
                            </div>

                            {{ post.content }}
                            
                            <div class="col-md-12 first">
                                <div class="info">

                                    <ul class="info-post">
                                        <li><i class="glyphicon glyphicon-time"></i> {{ post.date | date: "%B %-d, %Y" }}</li>
                                        <li><i class="glyphicon glyphicon-tag"></i> {{ post.tags }}</li>
                                    </ul>
                                </div>

                                <div class="clear"></div>       
                                {% assign prev_post = post.prev.id | remove: "/" | prepend: "#post-" %}
                                {% assign next_post = post.next.id | remove: "/" | prepend: "#post-" %}
                                {% if forloop.first %}{% assign prev_post = "#" %}{% endif %}
                                {% if forloop.last %}{% assign next_post = "#" %}{% endif %}
                                <div class="col-md-12"  style="margin-top: 20px;">
                                    <a href="{{ next_post }}" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                    <a href="{{ prev_post }}" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-left"></i></a>
                                    <a href="#blog" class="readmore"><i class="glyphicon glyphicon-chevron-left"></i> All Posts</a>
                                </div>

                                <div class="clear"></div>

                        </article>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
            {% endfor %}

        </div>

    </div>
</div>
                                            </div>
                                            <!-- End .blog -->
