<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catML catDM catCA">All</span></li>
            <li><span class="filter" data-filter="catML">Machine Learning</span></li>
            <li><span class="filter" data-filter="catDM">Data Mining</span></li>
            <li><span class="filter" data-filter="catCA">Computer Architecture</span></li>
        </ul>
        <!-- /#filters -->
   

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catML catCA" data-cat="catML catCA">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="https://github.com/wuhoward/DL-Projects/tree/master/Competition-4" target="_blank">
                        <img src="images/portfolio/StackGAN.jpg" alt="Text to Image Synthesis" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Text to Image Synthesis</a>
                                <span class="text-category">Generate realistic flower images according to the given descriptions.</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio catDM" data-cat="catDM">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="https://github.com/wuhoward/MDA-HWs/tree/master/MDA_TermProject_105062635" target="_blank">
                        <img src="images/portfolio/2.jpg" alt="Bakery Dataset Mining" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Bakery Dataset Mining</a>
                                <span class="text-category">Solved Frequent Itemset Problem with SON algorithm (distributed Apriori).</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catCA" data-cat="catCA">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="https://github.com/wuhoward/VLSI_Design_Final"  target="_blank">
                        <img src="images/portfolio/3.jpg" alt="SAO Filter Accelerator" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">SAO Filter Accelerator</a>
                                <span class="text-category">Completed RTL, pre-layout and post-layout simulations.</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>				
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catCA" data-cat="catCA">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="https://github.com/wuhoward/MC-Projects" target="_blank">
                        <img src="images/portfolio/4.jpg" alt="Mandelbrot Set on Rocket Chip" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Mandelbrot Set on Rocket Chip</a>
                                <span class="text-category">Implemented a co-processor and a simplified message-passing libirary (ilib).</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
